/* List.css */
.list-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}

.list-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.list-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.list-item span {
  display: block;
  margin-bottom: 5px;
}

.aluno-consultado {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}

.aluno-consultado h3 {
  font-size: 18px;
}

.search-container {
  margin-bottom: 10px;
}

.aluno-info {
  margin-bottom: 20px;
}

.aluno-info-container {
  margin-top: 20px;
}
