body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  background-color: #333; 
  height: 50px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 9999; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

nav a:hover {
  background-color: #fff; 
  color: #333; 
}


.aluno-consultado {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.aluno-info {
  margin-bottom: 10px;
  border: 1px solid #333;
  width: 100%;
  padding: 20px;
}

.list-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.aluno-info span {
  display: block;
}

.fixed-buttons {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}

.fixed-buttons a {
  display: block;
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.fixed-buttons a:hover {
  background-color: #555;
}
